In [1]:
import sqlite3, pandas as pd

In [2]:
# Abrindo a conexão
conn = sqlite3.connect("../data/ecommerce.db")

In [77]:
# Executando a consulta que mostra as as vendas que foram entregues com mais de 30 dias.
query = 'SELECT order_id, "tempo_entrega(dias)", valor_total_pedido FROM orders WHERE "tempo_entrega(dias)" > 30'
df30dias = pd.read_sql(query, conn)
print(df30dias)

                              order_id  tempo_entrega(dias)  \
0     6ea2f835b4556291ffdc53fa0b3b95e8                   33
1     6a0a8bfbbe700284feb0845d95e0867f                   36
2     9d531c565e28c3e0d756192f84d8731f                   56
3     8fc207e94fa91a7649c5a5dab690272a                   54
4     f31535f21d145b2345e2bf7f09d62322                   81
...                                ...                  ...
4305  25f6cb0e242a4c0bacc239397614422e                   32
4306  76a948cd55bf22799753720d4545dd2d                   47
4307  4cf09d9e5ebbe0f91ddd7bf9aae891cd                   32
4308  38e9133ce29f6bbe35aed9c3863dce01                   39
4309  cfa78b997e329a5295b4ee6972c02979                   37

      valor_total_pedido
0                 356.12
1                 101.74
2                  40.09
3                 135.51
4                 100.00
...                  ...
4305               79.45
4306               48.14
4307              390.90
4308               48.75
4309               71.04

[4310 rows x 3 columns]

In [78]:
# faturamento da empresa?

query = "SELECT printf('%.2f',SUM(valor_total_pedido)) as faturamento_total FROM orders"
dffaturamento = pd.read_sql(query, conn)
print(dffaturamento)

  faturamento_total
0       15419682.85

In [91]:
# media de entrega
query = """
SELECT ROUND(AVG("tempo_entrega(dias)")) AS "MEDIA DO TEMPO DE ENTREGA" FROM orders
"""
dfmediaentrega = pd.read_sql(query, conn)
print(dfmediaentrega)

   MEDIA DO TEMPO DE ENTREGA
0                       12.0

In [92]:
# valor maximo vendido
query = "SELECT MAX(valor_total_pedido) Maior_Pedido FROM orders"
dfmaxvalor = pd.read_sql(query, conn)
print(dfmaxvalor)

   Maior_Pedido
0      13664.08

In [101]:
# Qual é a forma de pagamento mais utilizada pelos clientes?
query = "SELECT payment_type AS 'FORMA DE PAGAMENTO' , count(order_id) as total_pedidos FROM orders GROUP BY payment_type ORDER BY count(order_id) DESC "
dfformapgto = pd.read_sql(query, conn)
print(dfformapgto)

  FORMA DE PAGAMENTO  total_pedidos
0        credit_card          74584
1             boleto          19177
2            voucher           5493
3         debit_card           1485

In [3]:
# quantos pedidos foram entregues após a data estimada de entrega?

query = '''SELECT COUNT(order_id) AS pedidos_atrasados
FROM orders
WHERE order_delivered_customer_date > order_estimated_delivery_date;
'''
dfpedidosatrasados = pd.read_sql(query, conn)
print(dfpedidosatrasados)

   pedidos_atrasados
0               8125

In [6]:
# fechando a conexão 
conn.close()